.App {
  margin-top: 20px;
  text-align: center;
}

.link {
  margin: 15px;
  padding: 10px 30px;
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}

.link:hover{
  background-color: #ddd;
}

.NavMenu{
  top: 20px;
  position: absolute;
}

.icon{
  padding: 5px;
  margin-right: 5px;
}